<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PoGoSD - {{ area_name }}</title>
    <link rel="stylesheet" href='static/css/leaflet.css'>
    <link rel="stylesheet" href='static/css/bootstrap.min.css'>
    <link rel="stylesheet" href='static/css/main.css?100'>
    <link rel="stylesheet" href='static/css/spritesheet.css'>
    <link rel="stylesheet" href='static/css/MarkerCluster.css'>
    <link rel="stylesheet" href='static/css/MarkerCluster.default.css'>
    <link rel="stylesheet" href='static/css/ticker.css'>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/manifest.json">
    <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#772c30">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#772c30">
</head>
<body>
    <h1>PoGoSD is initializing, please wait.</h1>
    <script>
        var _MapCoords = [{{ map_center[0] }}, {{ map_center[1] }}];
        var _DarkMapProviderUrl = '{{ dark_map_provider_url }}';
        var _DarkMapProviderAttribution = '{{ dark_map_provider_attribution|safe }}';
        var _DarkMapOpacity = '{{ dark_map_opacity }}';
        var _LightMapProviderUrl = '{{ light_map_provider_url }}';
        var _LightMapProviderAttribution = '{{ light_map_provider_attribution|safe }}';
        var _LightMapOpacity = '{{ light_map_opacity }}';
        _defaultSettings = {};
        _updateTimeInterval = null;
    </script>

    <div id="main-map" class="map"></div>
    <a class="map_btn my-location"></a>
    <a class="map_btn my-settings"></a>
    {{ social_links }}
    <a class="map_btn hide-marker"></a>
    {{ ticker_items }}
    {{ motd }}
    <div id="settings" class="container text-center">
        <button type="button" class="close scroll-up glyphicon glyphicon glyphicon-circle-arrow-up"></button>
        <div class="page-header">
            <h2>PoGo SD Settings<button id="settings_close_btn" type="button" class="close">×</button></h2>
        </div>
        <ul class="nav nav-pills nav-justified nav-settings">
            <li class="active"><a href="#" data-panel="filters">Filters</a></li>
            <li><a href="#" data-panel="more">More</a></li>
            <li><a href="#" data-panel="donate">Donate</a></li>
            <li><a href="#" data-panel="info">Info</a></li>
        </ul>
        <div class="panel panel-default settings-panel active" data-panel="filters">
            <div class="panel-heading">Filter Settings</div>
            <div class="panel-body">Panel Content</div>
        </div>
        <div class="panel panel-default settings-panel" data-panel="more">
            <div class="panel-heading">More Settings</div>
            <div class="panel-body">
                <h5>Fixed markers opacity</h5>
                <div class="btn-group" role="group" data-group="FIXED_OPACITY">
                  <button type="button" class="btn btn-default" data-value="1">Yes</button>
                  <button type="button" class="btn btn-default" data-value="0">No</button>
                </div>
                <hr />
                <h5>Show timer under markers</h5>
                <div class="btn-group" role="group" data-group="SHOW_TIMER">
                  <button type="button" class="btn btn-default" data-value="1">Yes</button>
                  <button type="button" class="btn btn-default" data-value="0">No</button>
                </div>
                {{ show_iv_menu_item }}
                <hr />
                <h5>Change Map</h5>
                <div class="btn-group" role="group" data-group="MAP_CHOICE">
                  <button type="button" class="btn btn-default" data-value="1">Dark</button>
                  <button type="button" class="btn btn-default" data-value="0">Light</button>
                </div>
                <hr />
                <h5>Reset all preferences</h5>
                <button id="reset_btn" type="button" class="btn btn-danger">Reset</button>
            </div>
        </div>
        <div class="panel panel-default settings-panel" data-panel="donate">
          <div class="panel-heading">Donations Welcome</div>
          <div class="panel-body"><br>Maps are free to use. Donations are more than welcome to help fund the scans that power these maps.<br><br>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="ETNR83LYZNN4L">
              <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
          <br>Monthly operational costs and current balance will be provided when funds run low.<br><br>
          {{ show_balance }}
          </div>
        </div>
        <div class="panel panel-default settings-panel" data-panel="info">
          <div class="panel-heading">Information/Announcements</div>
          <div class="panel-body">
          {{ announcements }}
          </div>
        </div>
    </div>

    <script>{{ init_js_vars }}</script>

    <script src='static/js/jquery-3.2.1.min.js'></script>
    <script src='static/js/leaflet.js'></script>
    <script src='static/js/leaflet.markercluster.js'></script>
    <script src='static/js/bootstrap.min.js'></script>
    <script src='static/js/main.js?102'></script>
    <script src='static/js/ticker.js'></script>

    {{ extra_css_js }}
</body>
</html>
