.map {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #005dc1;
}

.map_btn {
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    background-size: 24px 24px;
    background-position: 4px 4px;
    background-repeat: no-repeat;
    text-align: center;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    cursor: pointer;
}

.map_btn:hover {
    background-color: #f4f4f4;
}

.map_btn + .map_btn {
    bottom: 70px;
}

.map_btn + .map_btn + .map_btn {
    bottom: 110px;
}

.map_btn + .map_btn + .map_btn + .map_btn {
    bottom: 150px;
}

.map_btn + .map_btn + .map_btn + .map_btn + .map_btn {
    bottom: 190px;
}

.map_btn + .map_btn + .map_btn + .map_btn + .map_btn + .map_btn {
    bottom: 230px;
}

.gym_btn {
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    right: 10px;
    box-sizing: border-box;
    background-color: #fff;
    background-image: url('../img/3_team.png');
    background-size: 32px 32px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    cursor: pointer;
    font-weight: bold;
    color: white;
    text-shadow: -1px 1px 2px #000000;
    padding: 6px 0;
}

.gym_btn:hover {
    background-color: #f4f4f4;
    text-decoration: none;
    color: black;
    text-shadow: 0px 0px 5px white;
}

.gym_btn + .gym_btn {
    bottom: 70px;
    background-image: url('../img/2_team.png');
    background-size: 32px 32px;
    background-position: center;
    background-color: #d11b1b;
    color: white;
    text-shadow: -1px 1px 2px #000000;
}

.gym_btn + .gym_btn:hover {
    background-color: #f4f4f4;
    text-decoration: none;
    color: black;
    text-shadow: 0px 0px 5px white;
}

.gym_btn + .gym_btn + .gym_btn {
    bottom: 110px;
    background-image: url('../img/1_team.png');
    background-size: 32px 32px;
    background-position: center;
    background-color: #0537b7;
    color: white;
    text-shadow: -1px 1px 2px #000000;
}

.gym_btn + .gym_btn + .gym_btn:hover {
    background-color: #f4f4f4;
    text-decoration: none;
    color: black;
    text-shadow: 0px 0px 5px white;
}

.gym_btn + .gym_btn + .gym_btn + .gym_btn {
    bottom: 150px;
    background-image: url('../img/0_team.png');
    background-size: 32px 32px;
    background-position: center;
    background-color: grey;
}

.gym_btn + .gym_btn + .gym_btn + .gym_btn:hover {
    background-color: #f4f4f4;
    text-decoration: none;
    color: black;
    text-shadow: 0px 0px 5px white;
}

.gym_btn + .gym_btn + .gym_btn + .gym_btn + .gym_btn {
    padding: 10px 0;
    width: 40px;
    height: 40px;
    background-image: url('../img/all-gyms.png');
    background-size: 40px 40px;
    background-position: center;
    border-radius: 20px;
    bottom: 190px;
    right: 6px;
    background-color: white;
    color: black;
    text-shadow: 0px 0px 5px white;
}

.gym_btn + .gym_btn + .gym_btn + .gym_btn + .gym_btn:hover {
    background-color: white;
    text-decoration: none;
}

.gym_btn + .gym_btn + .gym_btn + .gym_btn + .gym_btn + .gym_btn {
    padding: 10px 0;
    width: 40px;
    height: 40px;
    background-image: url('../img/4_team.png');
    background-size: 40px 40px;
    background-position: center;
    border-radius: 20px;
    bottom: 238px;
    right: 6px;
    background-color: white;
    color: black;
    text-shadow: 0px 0px 5px white;
}

.gym_btn + .gym_btn + .gym_btn + .gym_btn + .gym_btn + .gym_btn:hover {
    background-color: white;
    text-decoration: none;
}

.fort-popup {
    text-align: center;
    margin-top: 100px;
}

.raid-popup {
    text-align: center;
    margin-top: 100px;
}

.fort_popup-icon_container {
    position: absolute;
    display: inline-block;
    top: 10px;
    left: 85px;
    text-align: center;
}

.raid_popup-icon_container {
    position: absolute;
    display: inline-block;
    margin-left: 50%;
    top: 10px;
    left: -30px;
    text-align: center;
}

.ex_gym_popup {
    width: 200px;
    text-align: center;
}
.weather_popup {
    text-align: center;
    width: 200px;
}

.weather_popup_icon img {
    max-width: 200px;
    height: auto;
}

.weather_popup_text {
    display: inline-block;
}

.weather_popup_boost_types img {
    padding-top: 10px;
    padding-bottom: 10px;
}

.team-logo {
    position: absolute;
    left: -6px;
    z-index: 1;
}

.guard-icon {
    position: absolute;
    left: 6px;
    z-index: 2;
}

.boss-icon {
    position: absolute;
    left: 0px;
    z-index: 2;
}

.egg-icon {
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 2;
}

.fort-icon {
    z-index: 1;
}

.raid-icon {
    z-index: 2;
}

.leaflet-control-layers-toggle {
    background-image: url('../img/layers.png');
}

.my-location {
    background-image: url('../img/my-location.png');
}

.paypal-icon {
    background-image: url('../img/paypal.png');
}

.facebook-icon {
    background-image: url('../img/facebook.png');
}

.twitter-icon {
    background-image: url('../img/twitter.png');
}

.discord-icon {
    background-image: url('../img/discord.png');
}

.telegram-icon {
    background-image: url('../img/telegram.png');
}
#settings{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1500;
    display: none;
    background: rgba(255, 255, 255, 1);
    opacity: 0;
}

.scroll-up {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 20px;
    right: 20px;
    display: none;
    font-size: 38px;
}

@media screen and (min-width: 481px) {
    #settings {
        width: 450px;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.55);
        height: 525px;
    }

    .settings-panel>.panel-body{
        height: 348px;
        overflow: auto;
    }
    
    .settings-panel>.panel-body>.info-body{
        text-align: left;
    }

    .nav>li>a {
        position: relative;
        display: block;
        padding: 5px 10px;
        margin-bottom: 0;
    }

    .nav li {
        display:table-cell !important;
        width: 1%;
    }
}

.info-body{
   text-align: left;
}

.iv_text {
    border-radius: 10px;
    background-color: rgba(100, 100, 100, 0.7);
    color: white;
    font-size: 8px;
}

.iv_gt_80_text {
    border-radius: 10px;
    background-color:rgba(88, 124, 44, .5);
    color: white;
    font-size: 10px;
}

.iv_gt_90_text {
    border-radius: 10px;
    background-color:rgba(0, 135, 51, .5);
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.iv_eq_100_img {
    width: 30px;
    height: 30px;
    display: block;
}

.form_text {
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 0px;
    background-color: rgba(100, 100, 100, 0.7);
    position: absolute;
    top: -22px;
    left: 5px;
    color: white;
    font-size: 12px;
    visibility: hidden;
}

.motd {
    width: 300px;
    height: 200px;
    line-height: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    color: white;
    background-color: #6ba0c6;
    opacity: 0.90;
    border-radius: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.splash_container {
    border-style: solid;
    border-color: white;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    height: 300px;
    position: absolute;
    color: white;
    background-color: #6ba0c6;
    opacity: 0.90;
    border-radius: 25px;
    text-align: center;
    z-index: 1000;
}

.splash_text {
    color: white;
    text-align: center;
    width: 300px;
    height: 300px;
    padding: 10px;
    position: absolute;
}

.splash_btn_container {
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -75px;
    margin-top: 225px;
    z-index: 1000;
}

.splash_donate_btn {
    position: absolute;
    bottom: 40px;
    width: 150px;
    height: 50px;
}

.splash_clear_btn {
    background-color: red;
    border-style: solid;
    border-color: white;
    border-radius: 25px;
    position: absolute;
    width: 150px;
    height: 50px;
    font-size: 20px;
}

.splash_clear_text {
    position: absolute;
    color: yellow;
    bottom: 10px;
}

.remaining_text {
    border-radius: 25px;
    background-color: black;
    text-align: center;
    background-color: rgba(100, 100, 100, 0.7);
    font-size: 10px;
    padding: 0;
    color: white;
    width: 100%;
    visibility: hidden;
    position: absolute;
    top: 42px;
    left: 7px;
}

.raid_remaining_text {
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
    top: -55px;
    left: -25px;
    position: absolute;
    background-color: black;
    text-align: center;
    background-color: rgba(255, 128, 0, 0.7);
    font-size: 10px;
    padding: 0;
    color: white;
    width: 50px;
    visibility: hidden;
}

.boss_during_raid {
    width: 35px;
    height: 35px;
}

.during_raid {
    width: 40px;
    height: 67px;
}

.boss_raid_container {
    position: absolute;
    top: -16px;
    left: -3px;
    z-index: 10;
}

.raid_platform_container {
    position: absolute;
    top: -26px;
    left: -5px;
}

.raid_sponsor_container {
    position: absolute;
    top: -70px;
    left: -23px;
    z-index: -10;
}

.fort_sponsor_container {
    position: absolute;
    top: -30px;
    left: -23px;
    z-index: -10;
}

.fort_container {
    position: absolute;
    top: -18px;
    left: -5px;
    z-index: -1;
}

.fort_slots_container {
    position: absolute;
    top: 35px;
    left: 25px;
    z-index: 5;
}

.pre_raid_container {
    position: absolute;
    top: -26px;
    left: -5px;
}

.pre_raid_icon {
    width: 40px;
    height: 77px;
}


.gym_image_container {

}

.gym_image {
    max-width: 100px;
    height: auto;
    border-style: solid;
    border-width: 2px;
}

.sponsor_icon {
  
}

.sponsor_icon_marker {
  
}

.fort_icon {
    width: 40px;
    height: 67px;
}

.fort_slots_icon {
    width: 20px;
    height: 20px;
}

.fortmarker {
    position: absolute;
    left: -16px;
    top: -20px;
    width: 32px;
    text-align: center;
    margin: 0;
    padding: 0;
    z-index: -1;
}

.pokemarker {
    position: absolute;
    left: -24px;
    top: -20px;
    width: 32px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.raidmarker {
    position: absolute;
    left: -16px;
    top: -20px;
    width: 32px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.raid_filter_container {
    display: inline-table;
}

.raid_filter_label {
    display: inline-table;
    width: 85px;
}

.layer_label {
    display: inline-table;
    width: 115px;
    text-align: right;
    padding-right: 5px;
}

#raid_filter_button_group {
    display: inline-table;
}

#settings>.page-header{
    padding-bottom: 5px;
    margin: 20px 0 10px;
}

#settings_close_btn{
    font-size: 38px;
}

.settings-panel{
    display: none;
}

.settings-panel.active{
    display: block;
}

.nav-settings{
    margin-bottom: 10px;
}

.hide-marker{
    background-image: url('../img/hide_marker.png');
    display: none;
}

.my-settings {
    background-image: url('../img/settings.png');
}

.leaflet-control-layers-overlays>label{
    margin-bottom: 0;
    font-weight: initial;
}

.filter_buttons_group{
    text-align: center;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

.filter_container {
    display: inline-block;
    text-align: center;
}

.filter_sprite_container {
    float: left;
    display: inline;
    width: 52px;
    height: 60px;
}

.filter_button_container {
    float: left;
    display: inline;
    padding-top: 10px;
    width: 140px;
    height: 60px;
}

.pokemon_name_container {
    float: left;
    display: inline;
    padding-top: 15px;
    text-align: left;
    padding-left: 5px;
    width: 90px;
    height: 60px;
}

.pokemon_popup_name {
    text-align: center;
}

.pokemon_popup_text {
    text-align: center;
    width: 135px;
}

.pokemon_popup_icons {
    text-align: center;
    width: 135px;
}

.pokemon_popup_icons img {
    max-width: 15px;
    height: auto;
    text-align: center;
}

.type_icons {
    text-align: center;
    width: 48px;
    position: relative;
    top: -50px;
    visibility: hidden;
}

.type_icons img{
    width: 15px;
    text-align: center;
}

.gen_1{
    display: inline-block;
    text-align: center;
}

.gen_2{
    display: inline-block;
    text-align: center;
}

.gen_3{
    display: inline-block;
    text-align: center;
}

.gen_label {
    display: inline-table;
    width: 100px;
}

.og_btn{
    width: 90px;
}

.cart_btn{
    width: 90px;
}

.alt_btn{
    width: 90px;
}

}
