.sprite span {
    background-image: url(../img/spritesheet_large_v3.png);
    background-repeat: no-repeat;
    display: block;
}

#menu.sprite span {
  position: relative;
  float: left;
  top: -8px;
  left: 22%;
}

.sprite-1 {
    width: 96px;
    height: 96px;
    background-position: -5px -5px;
}

.sprite-10 {
    width: 96px;
    height: 96px;
    background-position: -111px -5px;
}

.sprite-100 {
    width: 96px;
    height: 96px;
    background-position: -217px -5px;
}

.sprite-101 {
    width: 96px;
    height: 96px;
    background-position: -323px -5px;
}

.sprite-102 {
    width: 96px;
    height: 96px;
    background-position: -429px -5px;
}

.sprite-103 {
    width: 96px;
    height: 96px;
    background-position: -535px -5px;
}

.sprite-104 {
    width: 96px;
    height: 96px;
    background-position: -641px -5px;
}

.sprite-105 {
    width: 96px;
    height: 96px;
    background-position: -747px -5px;
}

.sprite-106 {
    width: 96px;
    height: 96px;
    background-position: -853px -5px;
}

.sprite-107 {
    width: 96px;
    height: 96px;
    background-position: -959px -5px;
}

.sprite-108 {
    width: 96px;
    height: 96px;
    background-position: -1065px -5px;
}

.sprite-109 {
    width: 96px;
    height: 96px;
    background-position: -1171px -5px;
}

.sprite-11 {
    width: 96px;
    height: 96px;
    background-position: -1277px -5px;
}

.sprite-110 {
    width: 96px;
    height: 96px;
    background-position: -1383px -5px;
}

.sprite-111 {
    width: 96px;
    height: 96px;
    background-position: -1489px -5px;
}

.sprite-112 {
    width: 96px;
    height: 96px;
    background-position: -1595px -5px;
}

.sprite-113 {
    width: 96px;
    height: 96px;
    background-position: -1701px -5px;
}

.sprite-114 {
    width: 96px;
    height: 96px;
    background-position: -1807px -5px;
}

.sprite-115 {
    width: 96px;
    height: 96px;
    background-position: -1913px -5px;
}

.sprite-116 {
    width: 96px;
    height: 96px;
    background-position: -5px -111px;
}

.sprite-117 {
    width: 96px;
    height: 96px;
    background-position: -111px -111px;
}

.sprite-118 {
    width: 96px;
    height: 96px;
    background-position: -217px -111px;
}

.sprite-119 {
    width: 96px;
    height: 96px;
    background-position: -323px -111px;
}

.sprite-12 {
    width: 96px;
    height: 96px;
    background-position: -429px -111px;
}

.sprite-120 {
    width: 96px;
    height: 96px;
    background-position: -535px -111px;
}

.sprite-121 {
    width: 96px;
    height: 96px;
    background-position: -641px -111px;
}

.sprite-122 {
    width: 96px;
    height: 96px;
    background-position: -747px -111px;
}

.sprite-123 {
    width: 96px;
    height: 96px;
    background-position: -853px -111px;
}

.sprite-124 {
    width: 96px;
    height: 96px;
    background-position: -959px -111px;
}

.sprite-125 {
    width: 96px;
    height: 96px;
    background-position: -1065px -111px;
}

.sprite-126 {
    width: 96px;
    height: 96px;
    background-position: -1171px -111px;
}

.sprite-127 {
    width: 96px;
    height: 96px;
    background-position: -1277px -111px;
}

.sprite-128 {
    width: 96px;
    height: 96px;
    background-position: -1383px -111px;
}

.sprite-129 {
    width: 96px;
    height: 96px;
    background-position: -1489px -111px;
}

.sprite-13 {
    width: 96px;
    height: 96px;
    background-position: -1595px -111px;
}

.sprite-130 {
    width: 96px;
    height: 96px;
    background-position: -1701px -111px;
}

.sprite-131 {
    width: 96px;
    height: 96px;
    background-position: -1807px -111px;
}

.sprite-132 {
    width: 96px;
    height: 96px;
    background-position: -1913px -111px;
}

.sprite-133 {
    width: 96px;
    height: 96px;
    background-position: -5px -217px;
}

.sprite-134 {
    width: 96px;
    height: 96px;
    background-position: -111px -217px;
}

.sprite-135 {
    width: 96px;
    height: 96px;
    background-position: -217px -217px;
}

.sprite-136 {
    width: 96px;
    height: 96px;
    background-position: -323px -217px;
}

.sprite-137 {
    width: 96px;
    height: 96px;
    background-position: -429px -217px;
}

.sprite-138 {
    width: 96px;
    height: 96px;
    background-position: -535px -217px;
}

.sprite-139 {
    width: 96px;
    height: 96px;
    background-position: -641px -217px;
}

.sprite-14 {
    width: 96px;
    height: 96px;
    background-position: -747px -217px;
}

.sprite-140 {
    width: 96px;
    height: 96px;
    background-position: -853px -217px;
}

.sprite-141 {
    width: 96px;
    height: 96px;
    background-position: -959px -217px;
}

.sprite-142 {
    width: 96px;
    height: 96px;
    background-position: -1065px -217px;
}

.sprite-143 {
    width: 96px;
    height: 96px;
    background-position: -1171px -217px;
}

.sprite-144 {
    width: 96px;
    height: 96px;
    background-position: -1277px -217px;
}

.sprite-145 {
    width: 96px;
    height: 96px;
    background-position: -1383px -217px;
}

.sprite-146 {
    width: 96px;
    height: 96px;
    background-position: -1489px -217px;
}

.sprite-147 {
    width: 96px;
    height: 96px;
    background-position: -1595px -217px;
}

.sprite-148 {
    width: 96px;
    height: 96px;
    background-position: -1701px -217px;
}

.sprite-149 {
    width: 96px;
    height: 96px;
    background-position: -1807px -217px;
}

.sprite-15 {
    width: 96px;
    height: 96px;
    background-position: -1913px -217px;
}

.sprite-150 {
    width: 96px;
    height: 96px;
    background-position: -5px -323px;
}

.sprite-151 {
    width: 96px;
    height: 96px;
    background-position: -111px -323px;
}

.sprite-152 {
    width: 96px;
    height: 96px;
    background-position: -217px -323px;
}

.sprite-153 {
    width: 96px;
    height: 96px;
    background-position: -323px -323px;
}

.sprite-154 {
    width: 96px;
    height: 96px;
    background-position: -429px -323px;
}

.sprite-155 {
    width: 96px;
    height: 96px;
    background-position: -535px -323px;
}

.sprite-156 {
    width: 96px;
    height: 96px;
    background-position: -641px -323px;
}

.sprite-157 {
    width: 96px;
    height: 96px;
    background-position: -747px -323px;
}

.sprite-158 {
    width: 96px;
    height: 96px;
    background-position: -853px -323px;
}

.sprite-159 {
    width: 96px;
    height: 96px;
    background-position: -959px -323px;
}

.sprite-16 {
    width: 96px;
    height: 96px;
    background-position: -1065px -323px;
}

.sprite-160 {
    width: 96px;
    height: 96px;
    background-position: -1171px -323px;
}

.sprite-161 {
    width: 96px;
    height: 96px;
    background-position: -1277px -323px;
}

.sprite-162 {
    width: 96px;
    height: 96px;
    background-position: -1383px -323px;
}

.sprite-163 {
    width: 96px;
    height: 96px;
    background-position: -1489px -323px;
}

.sprite-164 {
    width: 96px;
    height: 96px;
    background-position: -1595px -323px;
}

.sprite-165 {
    width: 96px;
    height: 96px;
    background-position: -1701px -323px;
}

.sprite-166 {
    width: 96px;
    height: 96px;
    background-position: -1807px -323px;
}

.sprite-167 {
    width: 96px;
    height: 96px;
    background-position: -1913px -323px;
}

.sprite-168 {
    width: 96px;
    height: 96px;
    background-position: -5px -429px;
}

.sprite-169 {
    width: 96px;
    height: 96px;
    background-position: -111px -429px;
}

.sprite-17 {
    width: 96px;
    height: 96px;
    background-position: -217px -429px;
}

.sprite-170 {
    width: 96px;
    height: 96px;
    background-position: -323px -429px;
}

.sprite-171 {
    width: 96px;
    height: 96px;
    background-position: -429px -429px;
}

.sprite-172 {
    width: 96px;
    height: 96px;
    background-position: -535px -429px;
}

.sprite-173 {
    width: 96px;
    height: 96px;
    background-position: -641px -429px;
}

.sprite-174 {
    width: 96px;
    height: 96px;
    background-position: -747px -429px;
}

.sprite-175 {
    width: 96px;
    height: 96px;
    background-position: -853px -429px;
}

.sprite-176 {
    width: 96px;
    height: 96px;
    background-position: -959px -429px;
}

.sprite-177 {
    width: 96px;
    height: 96px;
    background-position: -1065px -429px;
}

.sprite-178 {
    width: 96px;
    height: 96px;
    background-position: -1171px -429px;
}

.sprite-179 {
    width: 96px;
    height: 96px;
    background-position: -1277px -429px;
}

.sprite-18 {
    width: 96px;
    height: 96px;
    background-position: -1383px -429px;
}

.sprite-180 {
    width: 96px;
    height: 96px;
    background-position: -1489px -429px;
}

.sprite-181 {
    width: 96px;
    height: 96px;
    background-position: -1595px -429px;
}

.sprite-182 {
    width: 96px;
    height: 96px;
    background-position: -1701px -429px;
}

.sprite-183 {
    width: 96px;
    height: 96px;
    background-position: -1807px -429px;
}

.sprite-184 {
    width: 96px;
    height: 96px;
    background-position: -1913px -429px;
}

.sprite-185 {
    width: 96px;
    height: 96px;
    background-position: -5px -535px;
}

.sprite-186 {
    width: 96px;
    height: 96px;
    background-position: -111px -535px;
}

.sprite-187 {
    width: 96px;
    height: 96px;
    background-position: -217px -535px;
}

.sprite-188 {
    width: 96px;
    height: 96px;
    background-position: -323px -535px;
}

.sprite-189 {
    width: 96px;
    height: 96px;
    background-position: -429px -535px;
}

.sprite-19 {
    width: 96px;
    height: 96px;
    background-position: -535px -535px;
}

.sprite-190 {
    width: 96px;
    height: 96px;
    background-position: -641px -535px;
}

.sprite-191 {
    width: 96px;
    height: 96px;
    background-position: -747px -535px;
}

.sprite-192 {
    width: 96px;
    height: 96px;
    background-position: -853px -535px;
}

.sprite-193 {
    width: 96px;
    height: 96px;
    background-position: -959px -535px;
}

.sprite-194 {
    width: 96px;
    height: 96px;
    background-position: -1065px -535px;
}

.sprite-195 {
    width: 96px;
    height: 96px;
    background-position: -1171px -535px;
}

.sprite-196 {
    width: 96px;
    height: 96px;
    background-position: -1277px -535px;
}

.sprite-197 {
    width: 96px;
    height: 96px;
    background-position: -1383px -535px;
}

.sprite-198 {
    width: 96px;
    height: 96px;
    background-position: -1489px -535px;
}

.sprite-199 {
    width: 96px;
    height: 96px;
    background-position: -1595px -535px;
}

.sprite-2 {
    width: 96px;
    height: 96px;
    background-position: -1701px -535px;
}

.sprite-20 {
    width: 96px;
    height: 96px;
    background-position: -1807px -535px;
}

.sprite-200 {
    width: 96px;
    height: 96px;
    background-position: -1913px -535px;
}

.sprite-201 {
    width: 96px;
    height: 96px;
    background-position: -5px -641px;
}

.sprite-202 {
    width: 96px;
    height: 96px;
    background-position: -111px -641px;
}

.sprite-203 {
    width: 96px;
    height: 96px;
    background-position: -217px -641px;
}

.sprite-204 {
    width: 96px;
    height: 96px;
    background-position: -323px -641px;
}

.sprite-205 {
    width: 96px;
    height: 96px;
    background-position: -429px -641px;
}

.sprite-206 {
    width: 96px;
    height: 96px;
    background-position: -535px -641px;
}

.sprite-207 {
    width: 96px;
    height: 96px;
    background-position: -641px -641px;
}

.sprite-208 {
    width: 96px;
    height: 96px;
    background-position: -747px -641px;
}

.sprite-209 {
    width: 96px;
    height: 96px;
    background-position: -853px -641px;
}

.sprite-21 {
    width: 96px;
    height: 96px;
    background-position: -959px -641px;
}

.sprite-210 {
    width: 96px;
    height: 96px;
    background-position: -1065px -641px;
}

.sprite-211 {
    width: 96px;
    height: 96px;
    background-position: -1171px -641px;
}

.sprite-212 {
    width: 96px;
    height: 96px;
    background-position: -1277px -641px;
}

.sprite-213 {
    width: 96px;
    height: 96px;
    background-position: -1383px -641px;
}

.sprite-214 {
    width: 96px;
    height: 96px;
    background-position: -1489px -641px;
}

.sprite-215 {
    width: 96px;
    height: 96px;
    background-position: -1595px -641px;
}

.sprite-216 {
    width: 96px;
    height: 96px;
    background-position: -1701px -641px;
}

.sprite-217 {
    width: 96px;
    height: 96px;
    background-position: -1807px -641px;
}

.sprite-218 {
    width: 96px;
    height: 96px;
    background-position: -1913px -641px;
}

.sprite-219 {
    width: 96px;
    height: 96px;
    background-position: -5px -747px;
}

.sprite-22 {
    width: 96px;
    height: 96px;
    background-position: -111px -747px;
}

.sprite-220 {
    width: 96px;
    height: 96px;
    background-position: -217px -747px;
}

.sprite-221 {
    width: 96px;
    height: 96px;
    background-position: -323px -747px;
}

.sprite-222 {
    width: 96px;
    height: 96px;
    background-position: -429px -747px;
}

.sprite-223 {
    width: 96px;
    height: 96px;
    background-position: -535px -747px;
}

.sprite-224 {
    width: 96px;
    height: 96px;
    background-position: -641px -747px;
}

.sprite-225 {
    width: 96px;
    height: 96px;
    background-position: -747px -747px;
}

.sprite-226 {
    width: 96px;
    height: 96px;
    background-position: -853px -747px;
}

.sprite-227 {
    width: 96px;
    height: 96px;
    background-position: -959px -747px;
}

.sprite-228 {
    width: 96px;
    height: 96px;
    background-position: -1065px -747px;
}

.sprite-229 {
    width: 96px;
    height: 96px;
    background-position: -1171px -747px;
}

.sprite-23 {
    width: 96px;
    height: 96px;
    background-position: -1277px -747px;
}

.sprite-230 {
    width: 96px;
    height: 96px;
    background-position: -1383px -747px;
}

.sprite-231 {
    width: 96px;
    height: 96px;
    background-position: -1489px -747px;
}

.sprite-232 {
    width: 96px;
    height: 96px;
    background-position: -1595px -747px;
}

.sprite-233 {
    width: 96px;
    height: 96px;
    background-position: -1701px -747px;
}

.sprite-234 {
    width: 96px;
    height: 96px;
    background-position: -1807px -747px;
}

.sprite-235 {
    width: 96px;
    height: 96px;
    background-position: -1913px -747px;
}

.sprite-236 {
    width: 96px;
    height: 96px;
    background-position: -5px -853px;
}

.sprite-237 {
    width: 96px;
    height: 96px;
    background-position: -111px -853px;
}

.sprite-238 {
    width: 96px;
    height: 96px;
    background-position: -217px -853px;
}

.sprite-239 {
    width: 96px;
    height: 96px;
    background-position: -323px -853px;
}

.sprite-24 {
    width: 96px;
    height: 96px;
    background-position: -429px -853px;
}

.sprite-240 {
    width: 96px;
    height: 96px;
    background-position: -535px -853px;
}

.sprite-241 {
    width: 96px;
    height: 96px;
    background-position: -641px -853px;
}

.sprite-242 {
    width: 96px;
    height: 96px;
    background-position: -747px -853px;
}

.sprite-243 {
    width: 96px;
    height: 96px;
    background-position: -853px -853px;
}

.sprite-244 {
    width: 96px;
    height: 96px;
    background-position: -959px -853px;
}

.sprite-245 {
    width: 96px;
    height: 96px;
    background-position: -1065px -853px;
}

.sprite-246 {
    width: 96px;
    height: 96px;
    background-position: -1171px -853px;
}

.sprite-247 {
    width: 96px;
    height: 96px;
    background-position: -1277px -853px;
}

.sprite-248 {
    width: 96px;
    height: 96px;
    background-position: -1383px -853px;
}

.sprite-249 {
    width: 96px;
    height: 96px;
    background-position: -1489px -853px;
}

.sprite-25 {
    width: 96px;
    height: 96px;
    background-position: -1595px -853px;
}

.sprite-250 {
    width: 96px;
    height: 96px;
    background-position: -1701px -853px;
}

.sprite-251 {
    width: 96px;
    height: 96px;
    background-position: -1807px -853px;
}

.sprite-252 {
    width: 96px;
    height: 96px;
    background-position: -1913px -853px;
}

.sprite-253 {
    width: 96px;
    height: 96px;
    background-position: -5px -959px;
}

.sprite-254 {
    width: 96px;
    height: 96px;
    background-position: -111px -959px;
}

.sprite-255 {
    width: 96px;
    height: 96px;
    background-position: -217px -959px;
}

.sprite-256 {
    width: 96px;
    height: 96px;
    background-position: -323px -959px;
}

.sprite-257 {
    width: 96px;
    height: 96px;
    background-position: -429px -959px;
}

.sprite-258 {
    width: 96px;
    height: 96px;
    background-position: -535px -959px;
}

.sprite-259 {
    width: 96px;
    height: 96px;
    background-position: -641px -959px;
}

.sprite-26 {
    width: 96px;
    height: 96px;
    background-position: -747px -959px;
}

.sprite-260 {
    width: 96px;
    height: 96px;
    background-position: -853px -959px;
}

.sprite-261 {
    width: 96px;
    height: 96px;
    background-position: -959px -959px;
}

.sprite-262 {
    width: 96px;
    height: 96px;
    background-position: -1065px -959px;
}

.sprite-263 {
    width: 96px;
    height: 96px;
    background-position: -1171px -959px;
}

.sprite-264 {
    width: 96px;
    height: 96px;
    background-position: -1277px -959px;
}

.sprite-265 {
    width: 96px;
    height: 96px;
    background-position: -1383px -959px;
}

.sprite-266 {
    width: 96px;
    height: 96px;
    background-position: -1489px -959px;
}

.sprite-267 {
    width: 96px;
    height: 96px;
    background-position: -1595px -959px;
}

.sprite-268 {
    width: 96px;
    height: 96px;
    background-position: -1701px -959px;
}

.sprite-269 {
    width: 96px;
    height: 96px;
    background-position: -1807px -959px;
}

.sprite-27 {
    width: 96px;
    height: 96px;
    background-position: -1913px -959px;
}

.sprite-270 {
    width: 96px;
    height: 96px;
    background-position: -5px -1065px;
}

.sprite-271 {
    width: 96px;
    height: 96px;
    background-position: -111px -1065px;
}

.sprite-272 {
    width: 96px;
    height: 96px;
    background-position: -217px -1065px;
}

.sprite-273 {
    width: 96px;
    height: 96px;
    background-position: -323px -1065px;
}

.sprite-274 {
    width: 96px;
    height: 96px;
    background-position: -429px -1065px;
}

.sprite-275 {
    width: 96px;
    height: 96px;
    background-position: -535px -1065px;
}

.sprite-276 {
    width: 96px;
    height: 96px;
    background-position: -641px -1065px;
}

.sprite-277 {
    width: 96px;
    height: 96px;
    background-position: -747px -1065px;
}

.sprite-278 {
    width: 96px;
    height: 96px;
    background-position: -853px -1065px;
}

.sprite-279 {
    width: 96px;
    height: 96px;
    background-position: -959px -1065px;
}

.sprite-28 {
    width: 96px;
    height: 96px;
    background-position: -1065px -1065px;
}

.sprite-280 {
    width: 96px;
    height: 96px;
    background-position: -1171px -1065px;
}

.sprite-281 {
    width: 96px;
    height: 96px;
    background-position: -1277px -1065px;
}

.sprite-282 {
    width: 96px;
    height: 96px;
    background-position: -1383px -1065px;
}

.sprite-283 {
    width: 96px;
    height: 96px;
    background-position: -1489px -1065px;
}

.sprite-284 {
    width: 96px;
    height: 96px;
    background-position: -1595px -1065px;
}

.sprite-285 {
    width: 96px;
    height: 96px;
    background-position: -1701px -1065px;
}

.sprite-286 {
    width: 96px;
    height: 96px;
    background-position: -1807px -1065px;
}

.sprite-287 {
    width: 96px;
    height: 96px;
    background-position: -1913px -1065px;
}

.sprite-288 {
    width: 96px;
    height: 96px;
    background-position: -5px -1171px;
}

.sprite-289 {
    width: 96px;
    height: 96px;
    background-position: -111px -1171px;
}

.sprite-29 {
    width: 96px;
    height: 96px;
    background-position: -217px -1171px;
}

.sprite-290 {
    width: 96px;
    height: 96px;
    background-position: -323px -1171px;
}

.sprite-291 {
    width: 96px;
    height: 96px;
    background-position: -429px -1171px;
}

.sprite-292 {
    width: 96px;
    height: 96px;
    background-position: -535px -1171px;
}

.sprite-293 {
    width: 96px;
    height: 96px;
    background-position: -641px -1171px;
}

.sprite-294 {
    width: 96px;
    height: 96px;
    background-position: -747px -1171px;
}

.sprite-295 {
    width: 96px;
    height: 96px;
    background-position: -853px -1171px;
}

.sprite-296 {
    width: 96px;
    height: 96px;
    background-position: -959px -1171px;
}

.sprite-297 {
    width: 96px;
    height: 96px;
    background-position: -1065px -1171px;
}

.sprite-298 {
    width: 96px;
    height: 96px;
    background-position: -1171px -1171px;
}

.sprite-299 {
    width: 96px;
    height: 96px;
    background-position: -1277px -1171px;
}

.sprite-3 {
    width: 96px;
    height: 96px;
    background-position: -1383px -1171px;
}

.sprite-30 {
    width: 96px;
    height: 96px;
    background-position: -1489px -1171px;
}

.sprite-300 {
    width: 96px;
    height: 96px;
    background-position: -1595px -1171px;
}

.sprite-301 {
    width: 96px;
    height: 96px;
    background-position: -1701px -1171px;
}

.sprite-302 {
    width: 96px;
    height: 96px;
    background-position: -1807px -1171px;
}

.sprite-303 {
    width: 96px;
    height: 96px;
    background-position: -1913px -1171px;
}

.sprite-304 {
    width: 96px;
    height: 96px;
    background-position: -5px -1277px;
}

.sprite-305 {
    width: 96px;
    height: 96px;
    background-position: -111px -1277px;
}

.sprite-306 {
    width: 96px;
    height: 96px;
    background-position: -217px -1277px;
}

.sprite-307 {
    width: 96px;
    height: 96px;
    background-position: -323px -1277px;
}

.sprite-308 {
    width: 96px;
    height: 96px;
    background-position: -429px -1277px;
}

.sprite-309 {
    width: 96px;
    height: 96px;
    background-position: -535px -1277px;
}

.sprite-31 {
    width: 96px;
    height: 96px;
    background-position: -641px -1277px;
}

.sprite-310 {
    width: 96px;
    height: 96px;
    background-position: -747px -1277px;
}

.sprite-311 {
    width: 96px;
    height: 96px;
    background-position: -853px -1277px;
}

.sprite-312 {
    width: 96px;
    height: 96px;
    background-position: -959px -1277px;
}

.sprite-313 {
    width: 96px;
    height: 96px;
    background-position: -1065px -1277px;
}

.sprite-314 {
    width: 96px;
    height: 96px;
    background-position: -1171px -1277px;
}

.sprite-315 {
    width: 96px;
    height: 96px;
    background-position: -1277px -1277px;
}

.sprite-316 {
    width: 96px;
    height: 96px;
    background-position: -1383px -1277px;
}

.sprite-317 {
    width: 96px;
    height: 96px;
    background-position: -1489px -1277px;
}

.sprite-318 {
    width: 96px;
    height: 96px;
    background-position: -1595px -1277px;
}

.sprite-319 {
    width: 96px;
    height: 96px;
    background-position: -1701px -1277px;
}

.sprite-32 {
    width: 96px;
    height: 96px;
    background-position: -1807px -1277px;
}

.sprite-320 {
    width: 96px;
    height: 96px;
    background-position: -1913px -1277px;
}

.sprite-321 {
    width: 96px;
    height: 96px;
    background-position: -5px -1383px;
}

.sprite-322 {
    width: 96px;
    height: 96px;
    background-position: -111px -1383px;
}

.sprite-323 {
    width: 96px;
    height: 96px;
    background-position: -217px -1383px;
}

.sprite-324 {
    width: 96px;
    height: 96px;
    background-position: -323px -1383px;
}

.sprite-325 {
    width: 96px;
    height: 96px;
    background-position: -429px -1383px;
}

.sprite-326 {
    width: 96px;
    height: 96px;
    background-position: -535px -1383px;
}

.sprite-327 {
    width: 96px;
    height: 96px;
    background-position: -641px -1383px;
}

.sprite-328 {
    width: 96px;
    height: 96px;
    background-position: -747px -1383px;
}

.sprite-329 {
    width: 96px;
    height: 96px;
    background-position: -853px -1383px;
}

.sprite-33 {
    width: 96px;
    height: 96px;
    background-position: -959px -1383px;
}

.sprite-330 {
    width: 96px;
    height: 96px;
    background-position: -1065px -1383px;
}

.sprite-331 {
    width: 96px;
    height: 96px;
    background-position: -1171px -1383px;
}

.sprite-332 {
    width: 96px;
    height: 96px;
    background-position: -1277px -1383px;
}

.sprite-333 {
    width: 96px;
    height: 96px;
    background-position: -1383px -1383px;
}

.sprite-334 {
    width: 96px;
    height: 96px;
    background-position: -1489px -1383px;
}

.sprite-335 {
    width: 96px;
    height: 96px;
    background-position: -1595px -1383px;
}

.sprite-336 {
    width: 96px;
    height: 96px;
    background-position: -1701px -1383px;
}

.sprite-337 {
    width: 96px;
    height: 96px;
    background-position: -1807px -1383px;
}

.sprite-338 {
    width: 96px;
    height: 96px;
    background-position: -1913px -1383px;
}

.sprite-339 {
    width: 96px;
    height: 96px;
    background-position: -5px -1489px;
}

.sprite-34 {
    width: 96px;
    height: 96px;
    background-position: -111px -1489px;
}

.sprite-340 {
    width: 96px;
    height: 96px;
    background-position: -217px -1489px;
}

.sprite-341 {
    width: 96px;
    height: 96px;
    background-position: -323px -1489px;
}

.sprite-342 {
    width: 96px;
    height: 96px;
    background-position: -429px -1489px;
}

.sprite-343 {
    width: 96px;
    height: 96px;
    background-position: -535px -1489px;
}

.sprite-344 {
    width: 96px;
    height: 96px;
    background-position: -641px -1489px;
}

.sprite-345 {
    width: 96px;
    height: 96px;
    background-position: -747px -1489px;
}

.sprite-346 {
    width: 96px;
    height: 96px;
    background-position: -853px -1489px;
}

.sprite-347 {
    width: 96px;
    height: 96px;
    background-position: -959px -1489px;
}

.sprite-348 {
    width: 96px;
    height: 96px;
    background-position: -1065px -1489px;
}

.sprite-349 {
    width: 96px;
    height: 96px;
    background-position: -1171px -1489px;
}

.sprite-35 {
    width: 96px;
    height: 96px;
    background-position: -1277px -1489px;
}

.sprite-350 {
    width: 96px;
    height: 96px;
    background-position: -1383px -1489px;
}

.sprite-351 {
    width: 96px;
    height: 96px;
    background-position: -1489px -1489px;
}

.sprite-352 {
    width: 96px;
    height: 96px;
    background-position: -1595px -1489px;
}

.sprite-353 {
    width: 96px;
    height: 96px;
    background-position: -1701px -1489px;
}

.sprite-354 {
    width: 96px;
    height: 96px;
    background-position: -1807px -1489px;
}

.sprite-355 {
    width: 96px;
    height: 96px;
    background-position: -1913px -1489px;
}

.sprite-356 {
    width: 96px;
    height: 96px;
    background-position: -5px -1595px;
}

.sprite-357 {
    width: 96px;
    height: 96px;
    background-position: -111px -1595px;
}

.sprite-358 {
    width: 96px;
    height: 96px;
    background-position: -217px -1595px;
}

.sprite-359 {
    width: 96px;
    height: 96px;
    background-position: -323px -1595px;
}

.sprite-36 {
    width: 96px;
    height: 96px;
    background-position: -429px -1595px;
}

.sprite-360 {
    width: 96px;
    height: 96px;
    background-position: -535px -1595px;
}

.sprite-361 {
    width: 96px;
    height: 96px;
    background-position: -641px -1595px;
}

.sprite-362 {
    width: 96px;
    height: 96px;
    background-position: -747px -1595px;
}

.sprite-363 {
    width: 96px;
    height: 96px;
    background-position: -853px -1595px;
}

.sprite-364 {
    width: 96px;
    height: 96px;
    background-position: -959px -1595px;
}

.sprite-365 {
    width: 96px;
    height: 96px;
    background-position: -1065px -1595px;
}

.sprite-366 {
    width: 96px;
    height: 96px;
    background-position: -1171px -1595px;
}

.sprite-367 {
    width: 96px;
    height: 96px;
    background-position: -1277px -1595px;
}

.sprite-368 {
    width: 96px;
    height: 96px;
    background-position: -1383px -1595px;
}

.sprite-369 {
    width: 96px;
    height: 96px;
    background-position: -1489px -1595px;
}

.sprite-37 {
    width: 96px;
    height: 96px;
    background-position: -1595px -1595px;
}

.sprite-370 {
    width: 96px;
    height: 96px;
    background-position: -1701px -1595px;
}

.sprite-371 {
    width: 96px;
    height: 96px;
    background-position: -1807px -1595px;
}

.sprite-372 {
    width: 96px;
    height: 96px;
    background-position: -1913px -1595px;
}

.sprite-373 {
    width: 96px;
    height: 96px;
    background-position: -5px -1701px;
}

.sprite-374 {
    width: 96px;
    height: 96px;
    background-position: -111px -1701px;
}

.sprite-375 {
    width: 96px;
    height: 96px;
    background-position: -217px -1701px;
}

.sprite-376 {
    width: 96px;
    height: 96px;
    background-position: -323px -1701px;
}

.sprite-377 {
    width: 96px;
    height: 96px;
    background-position: -429px -1701px;
}

.sprite-378 {
    width: 96px;
    height: 96px;
    background-position: -535px -1701px;
}

.sprite-379 {
    width: 96px;
    height: 96px;
    background-position: -641px -1701px;
}

.sprite-38 {
    width: 96px;
    height: 96px;
    background-position: -747px -1701px;
}

.sprite-380 {
    width: 96px;
    height: 96px;
    background-position: -853px -1701px;
}

.sprite-381 {
    width: 96px;
    height: 96px;
    background-position: -959px -1701px;
}

.sprite-382 {
    width: 96px;
    height: 96px;
    background-position: -1065px -1701px;
}

.sprite-383 {
    width: 96px;
    height: 96px;
    background-position: -1171px -1701px;
}

.sprite-384 {
    width: 96px;
    height: 96px;
    background-position: -1277px -1701px;
}

.sprite-385 {
    width: 96px;
    height: 96px;
    background-position: -1383px -1701px;
}

.sprite-386 {
    width: 96px;
    height: 96px;
    background-position: -1489px -1701px;
}

.sprite-387 {
    width: 96px;
    height: 96px;
    background-position: -1595px -1701px;
}

.sprite-388 {
    width: 96px;
    height: 96px;
    background-position: -1701px -1701px;
}

.sprite-389 {
    width: 96px;
    height: 96px;
    background-position: -1807px -1701px;
}

.sprite-39 {
    width: 96px;
    height: 96px;
    background-position: -1913px -1701px;
}

.sprite-390 {
    width: 96px;
    height: 96px;
    background-position: -5px -1807px;
}

.sprite-391 {
    width: 96px;
    height: 96px;
    background-position: -111px -1807px;
}

.sprite-392 {
    width: 96px;
    height: 96px;
    background-position: -217px -1807px;
}

.sprite-393 {
    width: 96px;
    height: 96px;
    background-position: -323px -1807px;
}

.sprite-394 {
    width: 96px;
    height: 96px;
    background-position: -429px -1807px;
}

.sprite-395 {
    width: 96px;
    height: 96px;
    background-position: -535px -1807px;
}

.sprite-396 {
    width: 96px;
    height: 96px;
    background-position: -641px -1807px;
}

.sprite-397 {
    width: 96px;
    height: 96px;
    background-position: -747px -1807px;
}

.sprite-398 {
    width: 96px;
    height: 96px;
    background-position: -853px -1807px;
}

.sprite-4 {
    width: 96px;
    height: 96px;
    background-position: -959px -1807px;
}

.sprite-40 {
    width: 96px;
    height: 96px;
    background-position: -1065px -1807px;
}

.sprite-41 {
    width: 96px;
    height: 96px;
    background-position: -1171px -1807px;
}

.sprite-42 {
    width: 96px;
    height: 96px;
    background-position: -1277px -1807px;
}

.sprite-43 {
    width: 96px;
    height: 96px;
    background-position: -1383px -1807px;
}

.sprite-44 {
    width: 96px;
    height: 96px;
    background-position: -1489px -1807px;
}

.sprite-45 {
    width: 96px;
    height: 96px;
    background-position: -1595px -1807px;
}

.sprite-46 {
    width: 96px;
    height: 96px;
    background-position: -1701px -1807px;
}

.sprite-47 {
    width: 96px;
    height: 96px;
    background-position: -1807px -1807px;
}

.sprite-48 {
    width: 96px;
    height: 96px;
    background-position: -1913px -1807px;
}

.sprite-49 {
    width: 96px;
    height: 96px;
    background-position: -5px -1913px;
}

.sprite-5 {
    width: 96px;
    height: 96px;
    background-position: -111px -1913px;
}

.sprite-50 {
    width: 96px;
    height: 96px;
    background-position: -217px -1913px;
}

.sprite-51 {
    width: 96px;
    height: 96px;
    background-position: -323px -1913px;
}

.sprite-52 {
    width: 96px;
    height: 96px;
    background-position: -429px -1913px;
}

.sprite-53 {
    width: 96px;
    height: 96px;
    background-position: -535px -1913px;
}

.sprite-54 {
    width: 96px;
    height: 96px;
    background-position: -641px -1913px;
}

.sprite-55 {
    width: 96px;
    height: 96px;
    background-position: -747px -1913px;
}

.sprite-56 {
    width: 96px;
    height: 96px;
    background-position: -853px -1913px;
}

.sprite-57 {
    width: 96px;
    height: 96px;
    background-position: -959px -1913px;
}

.sprite-58 {
    width: 96px;
    height: 96px;
    background-position: -1065px -1913px;
}

.sprite-59 {
    width: 96px;
    height: 96px;
    background-position: -1171px -1913px;
}

.sprite-6 {
    width: 96px;
    height: 96px;
    background-position: -1277px -1913px;
}

.sprite-60 {
    width: 96px;
    height: 96px;
    background-position: -1383px -1913px;
}

.sprite-61 {
    width: 96px;
    height: 96px;
    background-position: -1489px -1913px;
}

.sprite-62 {
    width: 96px;
    height: 96px;
    background-position: -1595px -1913px;
}

.sprite-63 {
    width: 96px;
    height: 96px;
    background-position: -1701px -1913px;
}

.sprite-64 {
    width: 96px;
    height: 96px;
    background-position: -1807px -1913px;
}

.sprite-65 {
    width: 96px;
    height: 96px;
    background-position: -1913px -1913px;
}

.sprite-66 {
    width: 96px;
    height: 96px;
    background-position: -2019px -5px;
}

.sprite-67 {
    width: 96px;
    height: 96px;
    background-position: -2019px -111px;
}

.sprite-68 {
    width: 96px;
    height: 96px;
    background-position: -2019px -217px;
}

.sprite-69 {
    width: 96px;
    height: 96px;
    background-position: -2019px -323px;
}

.sprite-7 {
    width: 96px;
    height: 96px;
    background-position: -2019px -429px;
}

.sprite-70 {
    width: 96px;
    height: 96px;
    background-position: -2019px -535px;
}

.sprite-71 {
    width: 96px;
    height: 96px;
    background-position: -2019px -641px;
}

.sprite-72 {
    width: 96px;
    height: 96px;
    background-position: -2019px -747px;
}

.sprite-73 {
    width: 96px;
    height: 96px;
    background-position: -2019px -853px;
}

.sprite-74 {
    width: 96px;
    height: 96px;
    background-position: -2019px -959px;
}

.sprite-75 {
    width: 96px;
    height: 96px;
    background-position: -2019px -1065px;
}

.sprite-76 {
    width: 96px;
    height: 96px;
    background-position: -2019px -1171px;
}

.sprite-77 {
    width: 96px;
    height: 96px;
    background-position: -2019px -1277px;
}

.sprite-78 {
    width: 96px;
    height: 96px;
    background-position: -2019px -1383px;
}

.sprite-79 {
    width: 96px;
    height: 96px;
    background-position: -2019px -1489px;
}

.sprite-8 {
    width: 96px;
    height: 96px;
    background-position: -2019px -1595px;
}

.sprite-80 {
    width: 96px;
    height: 96px;
    background-position: -2019px -1701px;
}

.sprite-81 {
    width: 96px;
    height: 96px;
    background-position: -2019px -1807px;
}

.sprite-82 {
    width: 96px;
    height: 96px;
    background-position: -2019px -1913px;
}

.sprite-83 {
    width: 96px;
    height: 96px;
    background-position: -5px -2019px;
}

.sprite-84 {
    width: 96px;
    height: 96px;
    background-position: -111px -2019px;
}

.sprite-85 {
    width: 96px;
    height: 96px;
    background-position: -217px -2019px;
}

.sprite-86 {
    width: 96px;
    height: 96px;
    background-position: -323px -2019px;
}

.sprite-87 {
    width: 96px;
    height: 96px;
    background-position: -429px -2019px;
}

.sprite-88 {
    width: 96px;
    height: 96px;
    background-position: -535px -2019px;
}

.sprite-89 {
    width: 96px;
    height: 96px;
    background-position: -641px -2019px;
}

.sprite-9 {
    width: 96px;
    height: 96px;
    background-position: -747px -2019px;
}

.sprite-90 {
    width: 96px;
    height: 96px;
    background-position: -853px -2019px;
}

.sprite-91 {
    width: 96px;
    height: 96px;
    background-position: -959px -2019px;
}

.sprite-92 {
    width: 96px;
    height: 96px;
    background-position: -1065px -2019px;
}

.sprite-93 {
    width: 96px;
    height: 96px;
    background-position: -1171px -2019px;
}

.sprite-94 {
    width: 96px;
    height: 96px;
    background-position: -1277px -2019px;
}

.sprite-95 {
    width: 96px;
    height: 96px;
    background-position: -1383px -2019px;
}

.sprite-96 {
    width: 96px;
    height: 96px;
    background-position: -1489px -2019px;
}

.sprite-97 {
    width: 96px;
    height: 96px;
    background-position: -1595px -2019px;
}

.sprite-98 {
    width: 96px;
    height: 96px;
    background-position: -1701px -2019px;
}

.sprite-99 {
    width: 96px;
    height: 96px;
    background-position: -1807px -2019px;
}
