.sprite span {
    background-image: url(../img/spritesheet_small_v3.png);
    background-repeat: no-repeat;
    display: block;
}

#menu.sprite span {
  position: relative;
  float: left;
  left: 110px;
}

.sprite-1 {
    width: 30px;
    height: 30px;
    background-position: -5px -5px;
}

.sprite-10 {
    width: 30px;
    height: 30px;
    background-position: -45px -5px;
}

.sprite-100 {
    width: 30px;
    height: 30px;
    background-position: -85px -5px;
}

.sprite-101 {
    width: 30px;
    height: 30px;
    background-position: -125px -5px;
}

.sprite-102 {
    width: 30px;
    height: 30px;
    background-position: -165px -5px;
}

.sprite-103 {
    width: 30px;
    height: 30px;
    background-position: -205px -5px;
}

.sprite-104 {
    width: 30px;
    height: 30px;
    background-position: -245px -5px;
}

.sprite-105 {
    width: 30px;
    height: 30px;
    background-position: -285px -5px;
}

.sprite-106 {
    width: 30px;
    height: 30px;
    background-position: -325px -5px;
}

.sprite-107 {
    width: 30px;
    height: 30px;
    background-position: -365px -5px;
}

.sprite-108 {
    width: 30px;
    height: 30px;
    background-position: -405px -5px;
}

.sprite-109 {
    width: 30px;
    height: 30px;
    background-position: -445px -5px;
}

.sprite-11 {
    width: 30px;
    height: 30px;
    background-position: -485px -5px;
}

.sprite-110 {
    width: 30px;
    height: 30px;
    background-position: -525px -5px;
}

.sprite-111 {
    width: 30px;
    height: 30px;
    background-position: -565px -5px;
}

.sprite-112 {
    width: 30px;
    height: 30px;
    background-position: -605px -5px;
}

.sprite-113 {
    width: 30px;
    height: 30px;
    background-position: -645px -5px;
}

.sprite-114 {
    width: 30px;
    height: 30px;
    background-position: -685px -5px;
}

.sprite-115 {
    width: 30px;
    height: 30px;
    background-position: -725px -5px;
}

.sprite-116 {
    width: 30px;
    height: 30px;
    background-position: -5px -45px;
}

.sprite-117 {
    width: 30px;
    height: 30px;
    background-position: -45px -45px;
}

.sprite-118 {
    width: 30px;
    height: 30px;
    background-position: -85px -45px;
}

.sprite-119 {
    width: 30px;
    height: 30px;
    background-position: -125px -45px;
}

.sprite-12 {
    width: 30px;
    height: 30px;
    background-position: -165px -45px;
}

.sprite-120 {
    width: 30px;
    height: 30px;
    background-position: -205px -45px;
}

.sprite-121 {
    width: 30px;
    height: 30px;
    background-position: -245px -45px;
}

.sprite-122 {
    width: 30px;
    height: 30px;
    background-position: -285px -45px;
}

.sprite-123 {
    width: 30px;
    height: 30px;
    background-position: -325px -45px;
}

.sprite-124 {
    width: 30px;
    height: 30px;
    background-position: -365px -45px;
}

.sprite-125 {
    width: 30px;
    height: 30px;
    background-position: -405px -45px;
}

.sprite-126 {
    width: 30px;
    height: 30px;
    background-position: -445px -45px;
}

.sprite-127 {
    width: 30px;
    height: 30px;
    background-position: -485px -45px;
}

.sprite-128 {
    width: 30px;
    height: 30px;
    background-position: -525px -45px;
}

.sprite-129 {
    width: 30px;
    height: 30px;
    background-position: -565px -45px;
}

.sprite-13 {
    width: 30px;
    height: 30px;
    background-position: -605px -45px;
}

.sprite-130 {
    width: 30px;
    height: 30px;
    background-position: -645px -45px;
}

.sprite-131 {
    width: 30px;
    height: 30px;
    background-position: -685px -45px;
}

.sprite-132 {
    width: 30px;
    height: 30px;
    background-position: -725px -45px;
}

.sprite-133 {
    width: 30px;
    height: 30px;
    background-position: -5px -85px;
}

.sprite-134 {
    width: 30px;
    height: 30px;
    background-position: -45px -85px;
}

.sprite-135 {
    width: 30px;
    height: 30px;
    background-position: -85px -85px;
}

.sprite-136 {
    width: 30px;
    height: 30px;
    background-position: -125px -85px;
}

.sprite-137 {
    width: 30px;
    height: 30px;
    background-position: -165px -85px;
}

.sprite-138 {
    width: 30px;
    height: 30px;
    background-position: -205px -85px;
}

.sprite-139 {
    width: 30px;
    height: 30px;
    background-position: -245px -85px;
}

.sprite-14 {
    width: 30px;
    height: 30px;
    background-position: -285px -85px;
}

.sprite-140 {
    width: 30px;
    height: 30px;
    background-position: -325px -85px;
}

.sprite-141 {
    width: 30px;
    height: 30px;
    background-position: -365px -85px;
}

.sprite-142 {
    width: 30px;
    height: 30px;
    background-position: -405px -85px;
}

.sprite-143 {
    width: 30px;
    height: 30px;
    background-position: -445px -85px;
}

.sprite-144 {
    width: 30px;
    height: 30px;
    background-position: -485px -85px;
}

.sprite-145 {
    width: 30px;
    height: 30px;
    background-position: -525px -85px;
}

.sprite-146 {
    width: 30px;
    height: 30px;
    background-position: -565px -85px;
}

.sprite-147 {
    width: 30px;
    height: 30px;
    background-position: -605px -85px;
}

.sprite-148 {
    width: 30px;
    height: 30px;
    background-position: -645px -85px;
}

.sprite-149 {
    width: 30px;
    height: 30px;
    background-position: -685px -85px;
}

.sprite-15 {
    width: 30px;
    height: 30px;
    background-position: -725px -85px;
}

.sprite-150 {
    width: 30px;
    height: 30px;
    background-position: -5px -125px;
}

.sprite-151 {
    width: 30px;
    height: 30px;
    background-position: -45px -125px;
}

.sprite-152 {
    width: 30px;
    height: 30px;
    background-position: -85px -125px;
}

.sprite-153 {
    width: 30px;
    height: 30px;
    background-position: -125px -125px;
}

.sprite-154 {
    width: 30px;
    height: 30px;
    background-position: -165px -125px;
}

.sprite-155 {
    width: 30px;
    height: 30px;
    background-position: -205px -125px;
}

.sprite-156 {
    width: 30px;
    height: 30px;
    background-position: -245px -125px;
}

.sprite-157 {
    width: 30px;
    height: 30px;
    background-position: -285px -125px;
}

.sprite-158 {
    width: 30px;
    height: 30px;
    background-position: -325px -125px;
}

.sprite-159 {
    width: 30px;
    height: 30px;
    background-position: -365px -125px;
}

.sprite-16 {
    width: 30px;
    height: 30px;
    background-position: -405px -125px;
}

.sprite-160 {
    width: 30px;
    height: 30px;
    background-position: -445px -125px;
}

.sprite-161 {
    width: 30px;
    height: 30px;
    background-position: -485px -125px;
}

.sprite-162 {
    width: 30px;
    height: 30px;
    background-position: -525px -125px;
}

.sprite-163 {
    width: 30px;
    height: 30px;
    background-position: -565px -125px;
}

.sprite-164 {
    width: 30px;
    height: 30px;
    background-position: -605px -125px;
}

.sprite-165 {
    width: 30px;
    height: 30px;
    background-position: -645px -125px;
}

.sprite-166 {
    width: 30px;
    height: 30px;
    background-position: -685px -125px;
}

.sprite-167 {
    width: 30px;
    height: 30px;
    background-position: -725px -125px;
}

.sprite-168 {
    width: 30px;
    height: 30px;
    background-position: -5px -165px;
}

.sprite-169 {
    width: 30px;
    height: 30px;
    background-position: -45px -165px;
}

.sprite-17 {
    width: 30px;
    height: 30px;
    background-position: -85px -165px;
}

.sprite-170 {
    width: 30px;
    height: 30px;
    background-position: -125px -165px;
}

.sprite-171 {
    width: 30px;
    height: 30px;
    background-position: -165px -165px;
}

.sprite-172 {
    width: 30px;
    height: 30px;
    background-position: -205px -165px;
}

.sprite-173 {
    width: 30px;
    height: 30px;
    background-position: -245px -165px;
}

.sprite-174 {
    width: 30px;
    height: 30px;
    background-position: -285px -165px;
}

.sprite-175 {
    width: 30px;
    height: 30px;
    background-position: -325px -165px;
}

.sprite-176 {
    width: 30px;
    height: 30px;
    background-position: -365px -165px;
}

.sprite-177 {
    width: 30px;
    height: 30px;
    background-position: -405px -165px;
}

.sprite-178 {
    width: 30px;
    height: 30px;
    background-position: -445px -165px;
}

.sprite-179 {
    width: 30px;
    height: 30px;
    background-position: -485px -165px;
}

.sprite-18 {
    width: 30px;
    height: 30px;
    background-position: -525px -165px;
}

.sprite-180 {
    width: 30px;
    height: 30px;
    background-position: -565px -165px;
}

.sprite-181 {
    width: 30px;
    height: 30px;
    background-position: -605px -165px;
}

.sprite-182 {
    width: 30px;
    height: 30px;
    background-position: -645px -165px;
}

.sprite-183 {
    width: 30px;
    height: 30px;
    background-position: -685px -165px;
}

.sprite-184 {
    width: 30px;
    height: 30px;
    background-position: -725px -165px;
}

.sprite-185 {
    width: 30px;
    height: 30px;
    background-position: -5px -205px;
}

.sprite-186 {
    width: 30px;
    height: 30px;
    background-position: -45px -205px;
}

.sprite-187 {
    width: 30px;
    height: 30px;
    background-position: -85px -205px;
}

.sprite-188 {
    width: 30px;
    height: 30px;
    background-position: -125px -205px;
}

.sprite-189 {
    width: 30px;
    height: 30px;
    background-position: -165px -205px;
}

.sprite-19 {
    width: 30px;
    height: 30px;
    background-position: -205px -205px;
}

.sprite-190 {
    width: 30px;
    height: 30px;
    background-position: -245px -205px;
}

.sprite-191 {
    width: 30px;
    height: 30px;
    background-position: -285px -205px;
}

.sprite-192 {
    width: 30px;
    height: 30px;
    background-position: -325px -205px;
}

.sprite-193 {
    width: 30px;
    height: 30px;
    background-position: -365px -205px;
}

.sprite-194 {
    width: 30px;
    height: 30px;
    background-position: -405px -205px;
}

.sprite-195 {
    width: 30px;
    height: 30px;
    background-position: -445px -205px;
}

.sprite-196 {
    width: 30px;
    height: 30px;
    background-position: -485px -205px;
}

.sprite-197 {
    width: 30px;
    height: 30px;
    background-position: -525px -205px;
}

.sprite-198 {
    width: 30px;
    height: 30px;
    background-position: -565px -205px;
}

.sprite-199 {
    width: 30px;
    height: 30px;
    background-position: -605px -205px;
}

.sprite-2 {
    width: 30px;
    height: 30px;
    background-position: -645px -205px;
}

.sprite-20 {
    width: 30px;
    height: 30px;
    background-position: -685px -205px;
}

.sprite-200 {
    width: 30px;
    height: 30px;
    background-position: -725px -205px;
}

.sprite-201 {
    width: 30px;
    height: 30px;
    background-position: -5px -245px;
}

.sprite-202 {
    width: 30px;
    height: 30px;
    background-position: -45px -245px;
}

.sprite-203 {
    width: 30px;
    height: 30px;
    background-position: -85px -245px;
}

.sprite-204 {
    width: 30px;
    height: 30px;
    background-position: -125px -245px;
}

.sprite-205 {
    width: 30px;
    height: 30px;
    background-position: -165px -245px;
}

.sprite-206 {
    width: 30px;
    height: 30px;
    background-position: -205px -245px;
}

.sprite-207 {
    width: 30px;
    height: 30px;
    background-position: -245px -245px;
}

.sprite-208 {
    width: 30px;
    height: 30px;
    background-position: -285px -245px;
}

.sprite-209 {
    width: 30px;
    height: 30px;
    background-position: -325px -245px;
}

.sprite-21 {
    width: 30px;
    height: 30px;
    background-position: -365px -245px;
}

.sprite-210 {
    width: 30px;
    height: 30px;
    background-position: -405px -245px;
}

.sprite-211 {
    width: 30px;
    height: 30px;
    background-position: -445px -245px;
}

.sprite-212 {
    width: 30px;
    height: 30px;
    background-position: -485px -245px;
}

.sprite-213 {
    width: 30px;
    height: 30px;
    background-position: -525px -245px;
}

.sprite-214 {
    width: 30px;
    height: 30px;
    background-position: -565px -245px;
}

.sprite-215 {
    width: 30px;
    height: 30px;
    background-position: -605px -245px;
}

.sprite-216 {
    width: 30px;
    height: 30px;
    background-position: -645px -245px;
}

.sprite-217 {
    width: 30px;
    height: 30px;
    background-position: -685px -245px;
}

.sprite-218 {
    width: 30px;
    height: 30px;
    background-position: -725px -245px;
}

.sprite-219 {
    width: 30px;
    height: 30px;
    background-position: -5px -285px;
}

.sprite-22 {
    width: 30px;
    height: 30px;
    background-position: -45px -285px;
}

.sprite-220 {
    width: 30px;
    height: 30px;
    background-position: -85px -285px;
}

.sprite-221 {
    width: 30px;
    height: 30px;
    background-position: -125px -285px;
}

.sprite-222 {
    width: 30px;
    height: 30px;
    background-position: -165px -285px;
}

.sprite-223 {
    width: 30px;
    height: 30px;
    background-position: -205px -285px;
}

.sprite-224 {
    width: 30px;
    height: 30px;
    background-position: -245px -285px;
}

.sprite-225 {
    width: 30px;
    height: 30px;
    background-position: -285px -285px;
}

.sprite-226 {
    width: 30px;
    height: 30px;
    background-position: -325px -285px;
}

.sprite-227 {
    width: 30px;
    height: 30px;
    background-position: -365px -285px;
}

.sprite-228 {
    width: 30px;
    height: 30px;
    background-position: -405px -285px;
}

.sprite-229 {
    width: 30px;
    height: 30px;
    background-position: -445px -285px;
}

.sprite-23 {
    width: 30px;
    height: 30px;
    background-position: -485px -285px;
}

.sprite-230 {
    width: 30px;
    height: 30px;
    background-position: -525px -285px;
}

.sprite-231 {
    width: 30px;
    height: 30px;
    background-position: -565px -285px;
}

.sprite-232 {
    width: 30px;
    height: 30px;
    background-position: -605px -285px;
}

.sprite-233 {
    width: 30px;
    height: 30px;
    background-position: -645px -285px;
}

.sprite-234 {
    width: 30px;
    height: 30px;
    background-position: -685px -285px;
}

.sprite-235 {
    width: 30px;
    height: 30px;
    background-position: -725px -285px;
}

.sprite-236 {
    width: 30px;
    height: 30px;
    background-position: -5px -325px;
}

.sprite-237 {
    width: 30px;
    height: 30px;
    background-position: -45px -325px;
}

.sprite-238 {
    width: 30px;
    height: 30px;
    background-position: -85px -325px;
}

.sprite-239 {
    width: 30px;
    height: 30px;
    background-position: -125px -325px;
}

.sprite-24 {
    width: 30px;
    height: 30px;
    background-position: -165px -325px;
}

.sprite-240 {
    width: 30px;
    height: 30px;
    background-position: -205px -325px;
}

.sprite-241 {
    width: 30px;
    height: 30px;
    background-position: -245px -325px;
}

.sprite-242 {
    width: 30px;
    height: 30px;
    background-position: -285px -325px;
}

.sprite-243 {
    width: 30px;
    height: 30px;
    background-position: -325px -325px;
}

.sprite-244 {
    width: 30px;
    height: 30px;
    background-position: -365px -325px;
}

.sprite-245 {
    width: 30px;
    height: 30px;
    background-position: -405px -325px;
}

.sprite-246 {
    width: 30px;
    height: 30px;
    background-position: -445px -325px;
}

.sprite-247 {
    width: 30px;
    height: 30px;
    background-position: -485px -325px;
}

.sprite-248 {
    width: 30px;
    height: 30px;
    background-position: -525px -325px;
}

.sprite-249 {
    width: 30px;
    height: 30px;
    background-position: -565px -325px;
}

.sprite-25 {
    width: 30px;
    height: 30px;
    background-position: -605px -325px;
}

.sprite-250 {
    width: 30px;
    height: 30px;
    background-position: -645px -325px;
}

.sprite-251 {
    width: 30px;
    height: 30px;
    background-position: -685px -325px;
}

.sprite-252 {
    width: 30px;
    height: 30px;
    background-position: -725px -325px;
}

.sprite-253 {
    width: 30px;
    height: 30px;
    background-position: -5px -365px;
}

.sprite-254 {
    width: 30px;
    height: 30px;
    background-position: -45px -365px;
}

.sprite-255 {
    width: 30px;
    height: 30px;
    background-position: -85px -365px;
}

.sprite-256 {
    width: 30px;
    height: 30px;
    background-position: -125px -365px;
}

.sprite-257 {
    width: 30px;
    height: 30px;
    background-position: -165px -365px;
}

.sprite-258 {
    width: 30px;
    height: 30px;
    background-position: -205px -365px;
}

.sprite-259 {
    width: 30px;
    height: 30px;
    background-position: -245px -365px;
}

.sprite-26 {
    width: 30px;
    height: 30px;
    background-position: -285px -365px;
}

.sprite-260 {
    width: 30px;
    height: 30px;
    background-position: -325px -365px;
}

.sprite-261 {
    width: 30px;
    height: 30px;
    background-position: -365px -365px;
}

.sprite-262 {
    width: 30px;
    height: 30px;
    background-position: -405px -365px;
}

.sprite-263 {
    width: 30px;
    height: 30px;
    background-position: -445px -365px;
}

.sprite-264 {
    width: 30px;
    height: 30px;
    background-position: -485px -365px;
}

.sprite-265 {
    width: 30px;
    height: 30px;
    background-position: -525px -365px;
}

.sprite-266 {
    width: 30px;
    height: 30px;
    background-position: -565px -365px;
}

.sprite-267 {
    width: 30px;
    height: 30px;
    background-position: -605px -365px;
}

.sprite-268 {
    width: 30px;
    height: 30px;
    background-position: -645px -365px;
}

.sprite-269 {
    width: 30px;
    height: 30px;
    background-position: -685px -365px;
}

.sprite-27 {
    width: 30px;
    height: 30px;
    background-position: -725px -365px;
}

.sprite-270 {
    width: 30px;
    height: 30px;
    background-position: -5px -405px;
}

.sprite-271 {
    width: 30px;
    height: 30px;
    background-position: -45px -405px;
}

.sprite-272 {
    width: 30px;
    height: 30px;
    background-position: -85px -405px;
}

.sprite-273 {
    width: 30px;
    height: 30px;
    background-position: -125px -405px;
}

.sprite-274 {
    width: 30px;
    height: 30px;
    background-position: -165px -405px;
}

.sprite-275 {
    width: 30px;
    height: 30px;
    background-position: -205px -405px;
}

.sprite-276 {
    width: 30px;
    height: 30px;
    background-position: -245px -405px;
}

.sprite-277 {
    width: 30px;
    height: 30px;
    background-position: -285px -405px;
}

.sprite-278 {
    width: 30px;
    height: 30px;
    background-position: -325px -405px;
}

.sprite-279 {
    width: 30px;
    height: 30px;
    background-position: -365px -405px;
}

.sprite-28 {
    width: 30px;
    height: 30px;
    background-position: -405px -405px;
}

.sprite-280 {
    width: 30px;
    height: 30px;
    background-position: -445px -405px;
}

.sprite-281 {
    width: 30px;
    height: 30px;
    background-position: -485px -405px;
}

.sprite-282 {
    width: 30px;
    height: 30px;
    background-position: -525px -405px;
}

.sprite-283 {
    width: 30px;
    height: 30px;
    background-position: -565px -405px;
}

.sprite-284 {
    width: 30px;
    height: 30px;
    background-position: -605px -405px;
}

.sprite-285 {
    width: 30px;
    height: 30px;
    background-position: -645px -405px;
}

.sprite-286 {
    width: 30px;
    height: 30px;
    background-position: -685px -405px;
}

.sprite-287 {
    width: 30px;
    height: 30px;
    background-position: -725px -405px;
}

.sprite-288 {
    width: 30px;
    height: 30px;
    background-position: -5px -445px;
}

.sprite-289 {
    width: 30px;
    height: 30px;
    background-position: -45px -445px;
}

.sprite-29 {
    width: 30px;
    height: 30px;
    background-position: -85px -445px;
}

.sprite-290 {
    width: 30px;
    height: 30px;
    background-position: -125px -445px;
}

.sprite-291 {
    width: 30px;
    height: 30px;
    background-position: -165px -445px;
}

.sprite-292 {
    width: 30px;
    height: 30px;
    background-position: -205px -445px;
}

.sprite-293 {
    width: 30px;
    height: 30px;
    background-position: -245px -445px;
}

.sprite-294 {
    width: 30px;
    height: 30px;
    background-position: -285px -445px;
}

.sprite-295 {
    width: 30px;
    height: 30px;
    background-position: -325px -445px;
}

.sprite-296 {
    width: 30px;
    height: 30px;
    background-position: -365px -445px;
}

.sprite-297 {
    width: 30px;
    height: 30px;
    background-position: -405px -445px;
}

.sprite-298 {
    width: 30px;
    height: 30px;
    background-position: -445px -445px;
}

.sprite-299 {
    width: 30px;
    height: 30px;
    background-position: -485px -445px;
}

.sprite-3 {
    width: 30px;
    height: 30px;
    background-position: -525px -445px;
}

.sprite-30 {
    width: 30px;
    height: 30px;
    background-position: -565px -445px;
}

.sprite-300 {
    width: 30px;
    height: 30px;
    background-position: -605px -445px;
}

.sprite-301 {
    width: 30px;
    height: 30px;
    background-position: -645px -445px;
}

.sprite-302 {
    width: 30px;
    height: 30px;
    background-position: -685px -445px;
}

.sprite-303 {
    width: 30px;
    height: 30px;
    background-position: -725px -445px;
}

.sprite-304 {
    width: 30px;
    height: 30px;
    background-position: -5px -485px;
}

.sprite-305 {
    width: 30px;
    height: 30px;
    background-position: -45px -485px;
}

.sprite-306 {
    width: 30px;
    height: 30px;
    background-position: -85px -485px;
}

.sprite-307 {
    width: 30px;
    height: 30px;
    background-position: -125px -485px;
}

.sprite-308 {
    width: 30px;
    height: 30px;
    background-position: -165px -485px;
}

.sprite-309 {
    width: 30px;
    height: 30px;
    background-position: -205px -485px;
}

.sprite-31 {
    width: 30px;
    height: 30px;
    background-position: -245px -485px;
}

.sprite-310 {
    width: 30px;
    height: 30px;
    background-position: -285px -485px;
}

.sprite-311 {
    width: 30px;
    height: 30px;
    background-position: -325px -485px;
}

.sprite-312 {
    width: 30px;
    height: 30px;
    background-position: -365px -485px;
}

.sprite-313 {
    width: 30px;
    height: 30px;
    background-position: -405px -485px;
}

.sprite-314 {
    width: 30px;
    height: 30px;
    background-position: -445px -485px;
}

.sprite-315 {
    width: 30px;
    height: 30px;
    background-position: -485px -485px;
}

.sprite-316 {
    width: 30px;
    height: 30px;
    background-position: -525px -485px;
}

.sprite-317 {
    width: 30px;
    height: 30px;
    background-position: -565px -485px;
}

.sprite-318 {
    width: 30px;
    height: 30px;
    background-position: -605px -485px;
}

.sprite-319 {
    width: 30px;
    height: 30px;
    background-position: -645px -485px;
}

.sprite-32 {
    width: 30px;
    height: 30px;
    background-position: -685px -485px;
}

.sprite-320 {
    width: 30px;
    height: 30px;
    background-position: -725px -485px;
}

.sprite-321 {
    width: 30px;
    height: 30px;
    background-position: -5px -525px;
}

.sprite-322 {
    width: 30px;
    height: 30px;
    background-position: -45px -525px;
}

.sprite-323 {
    width: 30px;
    height: 30px;
    background-position: -85px -525px;
}

.sprite-324 {
    width: 30px;
    height: 30px;
    background-position: -125px -525px;
}

.sprite-325 {
    width: 30px;
    height: 30px;
    background-position: -165px -525px;
}

.sprite-326 {
    width: 30px;
    height: 30px;
    background-position: -205px -525px;
}

.sprite-327 {
    width: 30px;
    height: 30px;
    background-position: -245px -525px;
}

.sprite-328 {
    width: 30px;
    height: 30px;
    background-position: -285px -525px;
}

.sprite-329 {
    width: 30px;
    height: 30px;
    background-position: -325px -525px;
}

.sprite-33 {
    width: 30px;
    height: 30px;
    background-position: -365px -525px;
}

.sprite-330 {
    width: 30px;
    height: 30px;
    background-position: -405px -525px;
}

.sprite-331 {
    width: 30px;
    height: 30px;
    background-position: -445px -525px;
}

.sprite-332 {
    width: 30px;
    height: 30px;
    background-position: -485px -525px;
}

.sprite-333 {
    width: 30px;
    height: 30px;
    background-position: -525px -525px;
}

.sprite-334 {
    width: 30px;
    height: 30px;
    background-position: -565px -525px;
}

.sprite-335 {
    width: 30px;
    height: 30px;
    background-position: -605px -525px;
}

.sprite-336 {
    width: 30px;
    height: 30px;
    background-position: -645px -525px;
}

.sprite-337 {
    width: 30px;
    height: 30px;
    background-position: -685px -525px;
}

.sprite-338 {
    width: 30px;
    height: 30px;
    background-position: -725px -525px;
}

.sprite-339 {
    width: 30px;
    height: 30px;
    background-position: -5px -565px;
}

.sprite-34 {
    width: 30px;
    height: 30px;
    background-position: -45px -565px;
}

.sprite-340 {
    width: 30px;
    height: 30px;
    background-position: -85px -565px;
}

.sprite-341 {
    width: 30px;
    height: 30px;
    background-position: -125px -565px;
}

.sprite-342 {
    width: 30px;
    height: 30px;
    background-position: -165px -565px;
}

.sprite-343 {
    width: 30px;
    height: 30px;
    background-position: -205px -565px;
}

.sprite-344 {
    width: 30px;
    height: 30px;
    background-position: -245px -565px;
}

.sprite-345 {
    width: 30px;
    height: 30px;
    background-position: -285px -565px;
}

.sprite-346 {
    width: 30px;
    height: 30px;
    background-position: -325px -565px;
}

.sprite-347 {
    width: 30px;
    height: 30px;
    background-position: -365px -565px;
}

.sprite-348 {
    width: 30px;
    height: 30px;
    background-position: -405px -565px;
}

.sprite-349 {
    width: 30px;
    height: 30px;
    background-position: -445px -565px;
}

.sprite-35 {
    width: 30px;
    height: 30px;
    background-position: -485px -565px;
}

.sprite-350 {
    width: 30px;
    height: 30px;
    background-position: -525px -565px;
}

.sprite-351 {
    width: 30px;
    height: 30px;
    background-position: -565px -565px;
}

.sprite-352 {
    width: 30px;
    height: 30px;
    background-position: -605px -565px;
}

.sprite-353 {
    width: 30px;
    height: 30px;
    background-position: -645px -565px;
}

.sprite-354 {
    width: 30px;
    height: 30px;
    background-position: -685px -565px;
}

.sprite-355 {
    width: 30px;
    height: 30px;
    background-position: -725px -565px;
}

.sprite-356 {
    width: 30px;
    height: 30px;
    background-position: -5px -605px;
}

.sprite-357 {
    width: 30px;
    height: 30px;
    background-position: -45px -605px;
}

.sprite-358 {
    width: 30px;
    height: 30px;
    background-position: -85px -605px;
}

.sprite-359 {
    width: 30px;
    height: 30px;
    background-position: -125px -605px;
}

.sprite-36 {
    width: 30px;
    height: 30px;
    background-position: -165px -605px;
}

.sprite-360 {
    width: 30px;
    height: 30px;
    background-position: -205px -605px;
}

.sprite-361 {
    width: 30px;
    height: 30px;
    background-position: -245px -605px;
}

.sprite-362 {
    width: 30px;
    height: 30px;
    background-position: -285px -605px;
}

.sprite-363 {
    width: 30px;
    height: 30px;
    background-position: -325px -605px;
}

.sprite-364 {
    width: 30px;
    height: 30px;
    background-position: -365px -605px;
}

.sprite-365 {
    width: 30px;
    height: 30px;
    background-position: -405px -605px;
}

.sprite-366 {
    width: 30px;
    height: 30px;
    background-position: -445px -605px;
}

.sprite-367 {
    width: 30px;
    height: 30px;
    background-position: -485px -605px;
}

.sprite-368 {
    width: 30px;
    height: 30px;
    background-position: -525px -605px;
}

.sprite-369 {
    width: 30px;
    height: 30px;
    background-position: -565px -605px;
}

.sprite-37 {
    width: 30px;
    height: 30px;
    background-position: -605px -605px;
}

.sprite-370 {
    width: 30px;
    height: 30px;
    background-position: -645px -605px;
}

.sprite-371 {
    width: 30px;
    height: 30px;
    background-position: -685px -605px;
}

.sprite-372 {
    width: 30px;
    height: 30px;
    background-position: -725px -605px;
}

.sprite-373 {
    width: 30px;
    height: 30px;
    background-position: -5px -645px;
}

.sprite-374 {
    width: 30px;
    height: 30px;
    background-position: -45px -645px;
}

.sprite-375 {
    width: 30px;
    height: 30px;
    background-position: -85px -645px;
}

.sprite-376 {
    width: 30px;
    height: 30px;
    background-position: -125px -645px;
}

.sprite-377 {
    width: 30px;
    height: 30px;
    background-position: -165px -645px;
}

.sprite-378 {
    width: 30px;
    height: 30px;
    background-position: -205px -645px;
}

.sprite-379 {
    width: 30px;
    height: 30px;
    background-position: -245px -645px;
}

.sprite-38 {
    width: 30px;
    height: 30px;
    background-position: -285px -645px;
}

.sprite-380 {
    width: 30px;
    height: 30px;
    background-position: -325px -645px;
}

.sprite-381 {
    width: 30px;
    height: 30px;
    background-position: -365px -645px;
}

.sprite-382 {
    width: 30px;
    height: 30px;
    background-position: -405px -645px;
}

.sprite-383 {
    width: 30px;
    height: 30px;
    background-position: -445px -645px;
}

.sprite-384 {
    width: 30px;
    height: 30px;
    background-position: -485px -645px;
}

.sprite-385 {
    width: 30px;
    height: 30px;
    background-position: -525px -645px;
}

.sprite-386 {
    width: 30px;
    height: 30px;
    background-position: -565px -645px;
}

.sprite-387 {
    width: 30px;
    height: 30px;
    background-position: -605px -645px;
}

.sprite-388 {
    width: 30px;
    height: 30px;
    background-position: -645px -645px;
}

.sprite-389 {
    width: 30px;
    height: 30px;
    background-position: -685px -645px;
}

.sprite-39 {
    width: 30px;
    height: 30px;
    background-position: -725px -645px;
}

.sprite-390 {
    width: 30px;
    height: 30px;
    background-position: -5px -685px;
}

.sprite-391 {
    width: 30px;
    height: 30px;
    background-position: -45px -685px;
}

.sprite-392 {
    width: 30px;
    height: 30px;
    background-position: -85px -685px;
}

.sprite-393 {
    width: 30px;
    height: 30px;
    background-position: -125px -685px;
}

.sprite-394 {
    width: 30px;
    height: 30px;
    background-position: -165px -685px;
}

.sprite-395 {
    width: 30px;
    height: 30px;
    background-position: -205px -685px;
}

.sprite-396 {
    width: 30px;
    height: 30px;
    background-position: -245px -685px;
}

.sprite-397 {
    width: 30px;
    height: 30px;
    background-position: -285px -685px;
}

.sprite-398 {
    width: 30px;
    height: 30px;
    background-position: -325px -685px;
}

.sprite-4 {
    width: 30px;
    height: 30px;
    background-position: -365px -685px;
}

.sprite-40 {
    width: 30px;
    height: 30px;
    background-position: -405px -685px;
}

.sprite-41 {
    width: 30px;
    height: 30px;
    background-position: -445px -685px;
}

.sprite-42 {
    width: 30px;
    height: 30px;
    background-position: -485px -685px;
}

.sprite-43 {
    width: 30px;
    height: 30px;
    background-position: -525px -685px;
}

.sprite-44 {
    width: 30px;
    height: 30px;
    background-position: -565px -685px;
}

.sprite-45 {
    width: 30px;
    height: 30px;
    background-position: -605px -685px;
}

.sprite-46 {
    width: 30px;
    height: 30px;
    background-position: -645px -685px;
}

.sprite-47 {
    width: 30px;
    height: 30px;
    background-position: -685px -685px;
}

.sprite-48 {
    width: 30px;
    height: 30px;
    background-position: -725px -685px;
}

.sprite-49 {
    width: 30px;
    height: 30px;
    background-position: -5px -725px;
}

.sprite-5 {
    width: 30px;
    height: 30px;
    background-position: -45px -725px;
}

.sprite-50 {
    width: 30px;
    height: 30px;
    background-position: -85px -725px;
}

.sprite-51 {
    width: 30px;
    height: 30px;
    background-position: -125px -725px;
}

.sprite-52 {
    width: 30px;
    height: 30px;
    background-position: -165px -725px;
}

.sprite-53 {
    width: 30px;
    height: 30px;
    background-position: -205px -725px;
}

.sprite-54 {
    width: 30px;
    height: 30px;
    background-position: -245px -725px;
}

.sprite-55 {
    width: 30px;
    height: 30px;
    background-position: -285px -725px;
}

.sprite-56 {
    width: 30px;
    height: 30px;
    background-position: -325px -725px;
}

.sprite-57 {
    width: 30px;
    height: 30px;
    background-position: -365px -725px;
}

.sprite-58 {
    width: 30px;
    height: 30px;
    background-position: -405px -725px;
}

.sprite-59 {
    width: 30px;
    height: 30px;
    background-position: -445px -725px;
}

.sprite-6 {
    width: 30px;
    height: 30px;
    background-position: -485px -725px;
}

.sprite-60 {
    width: 30px;
    height: 30px;
    background-position: -525px -725px;
}

.sprite-61 {
    width: 30px;
    height: 30px;
    background-position: -565px -725px;
}

.sprite-62 {
    width: 30px;
    height: 30px;
    background-position: -605px -725px;
}

.sprite-63 {
    width: 30px;
    height: 30px;
    background-position: -645px -725px;
}

.sprite-64 {
    width: 30px;
    height: 30px;
    background-position: -685px -725px;
}

.sprite-65 {
    width: 30px;
    height: 30px;
    background-position: -725px -725px;
}

.sprite-66 {
    width: 30px;
    height: 30px;
    background-position: -765px -5px;
}

.sprite-67 {
    width: 30px;
    height: 30px;
    background-position: -765px -45px;
}

.sprite-68 {
    width: 30px;
    height: 30px;
    background-position: -765px -85px;
}

.sprite-69 {
    width: 30px;
    height: 30px;
    background-position: -765px -125px;
}

.sprite-7 {
    width: 30px;
    height: 30px;
    background-position: -765px -165px;
}

.sprite-70 {
    width: 30px;
    height: 30px;
    background-position: -765px -205px;
}

.sprite-71 {
    width: 30px;
    height: 30px;
    background-position: -765px -245px;
}

.sprite-72 {
    width: 30px;
    height: 30px;
    background-position: -765px -285px;
}

.sprite-73 {
    width: 30px;
    height: 30px;
    background-position: -765px -325px;
}

.sprite-74 {
    width: 30px;
    height: 30px;
    background-position: -765px -365px;
}

.sprite-75 {
    width: 30px;
    height: 30px;
    background-position: -765px -405px;
}

.sprite-76 {
    width: 30px;
    height: 30px;
    background-position: -765px -445px;
}

.sprite-77 {
    width: 30px;
    height: 30px;
    background-position: -765px -485px;
}

.sprite-78 {
    width: 30px;
    height: 30px;
    background-position: -765px -525px;
}

.sprite-79 {
    width: 30px;
    height: 30px;
    background-position: -765px -565px;
}

.sprite-8 {
    width: 30px;
    height: 30px;
    background-position: -765px -605px;
}

.sprite-80 {
    width: 30px;
    height: 30px;
    background-position: -765px -645px;
}

.sprite-81 {
    width: 30px;
    height: 30px;
    background-position: -765px -685px;
}

.sprite-82 {
    width: 30px;
    height: 30px;
    background-position: -765px -725px;
}

.sprite-83 {
    width: 30px;
    height: 30px;
    background-position: -5px -765px;
}

.sprite-84 {
    width: 30px;
    height: 30px;
    background-position: -45px -765px;
}

.sprite-85 {
    width: 30px;
    height: 30px;
    background-position: -85px -765px;
}

.sprite-86 {
    width: 30px;
    height: 30px;
    background-position: -125px -765px;
}

.sprite-87 {
    width: 30px;
    height: 30px;
    background-position: -165px -765px;
}

.sprite-88 {
    width: 30px;
    height: 30px;
    background-position: -205px -765px;
}

.sprite-89 {
    width: 30px;
    height: 30px;
    background-position: -245px -765px;
}

.sprite-9 {
    width: 30px;
    height: 30px;
    background-position: -285px -765px;
}

.sprite-90 {
    width: 30px;
    height: 30px;
    background-position: -325px -765px;
}

.sprite-91 {
    width: 30px;
    height: 30px;
    background-position: -365px -765px;
}

.sprite-92 {
    width: 30px;
    height: 30px;
    background-position: -405px -765px;
}

.sprite-93 {
    width: 30px;
    height: 30px;
    background-position: -445px -765px;
}

.sprite-94 {
    width: 30px;
    height: 30px;
    background-position: -485px -765px;
}

.sprite-95 {
    width: 30px;
    height: 30px;
    background-position: -525px -765px;
}

.sprite-96 {
    width: 30px;
    height: 30px;
    background-position: -565px -765px;
}

.sprite-97 {
    width: 30px;
    height: 30px;
    background-position: -605px -765px;
}

.sprite-98 {
    width: 30px;
    height: 30px;
    background-position: -645px -765px;
}

.sprite-99 {
    width: 30px;
    height: 30px;
    background-position: -685px -765px;
}
